body {
            background-color: black;
            color: #6D9886;
            font-family: 'Martian Mono', monospace;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            margin: 0;
        }

        h1 {
            font-family: 'VT323', monospace;
            font-weight: bold;
            font-size: clamp(24px, 5vw, 48px);
            color: #6D9886;
            text-align: center;
            letter-spacing: 15px;
            margin-bottom: 15px;
            margin-top: 15px;
        }

        .screen-container {
            width: 800px;
            position: relative;
            overflow: hidden;
            border: 2px solid #6D9886;
            padding: 30px;
            border-radius: 50% / 5%; 
            box-shadow: inset 0 0 100px rgba(0,0,0,0.5), 0 0 20px rgba(109, 152, 134, 0.2);
            background-color: #0a0a0a;
        }

        form {
            display: flex;
            flex-direction: column; 
            align-items: center;     
            gap: 20px;              
        }

        .inputs-container {
            display: flex;
            flex-direction: column; 
            gap: 10px;               
            align-items: center;
            width: 100%;
        }

        .inputs-container label {
            text-align: left;
            width: 100%;
            font-size: 14px;
        }

        input {
            background-color: black;
            color: #6D9886;
            text-align: center;
            border: 1px solid #6D9886; 
            padding: 10px;
            font-family: 'Martian Mono', monospace;
            border-radius: 5px;
            width: 100%;
            box-sizing: border-box;
        }

        input:focus {
            outline: none;
            border-color: red;
        }

        #result:focus {
            outline: none;
            caret-color: transparent;
            border-color: #6D9886;
        }

        .buttons-container {
            display: flex;
            flex-wrap: wrap; /* ЦЕЙ РЯДОК ДОЗВОЛЯЄ КНОПКАМ ПЕРЕНОСИТИСЬ */
            justify-content: center;
            gap: 10px;            
            max-width: px; /* Обмежуємо ширину, щоб кнопки ставали в кілька рядів */
        }

        .button {
            width: 65px;
            height: 65px;
            display: inline-block;
            padding: 5px 10px;
            font-size: 20px;
            cursor: pointer;
            text-align: center;
            color: #6D9886;
            background-color: #212121;
            border: 1px green;
            border-radius: 4px;
            box-shadow: 0 7px #1b1b1b;
        }

        .button:hover {
            background-color: #3c3c3c;
        }

        .button:active {
            box-shadow: 0 2px #6D9886;
            transform: translateY(2px);
        }

        .btn-equals {
            background-color: #6D9886;
            color: black;
            width: 100%;
        }