body {
    background-color: black;
    color: #6D9886;
    font-family: 'Martian Mono', monospace;
    justify-content: center;
    align-items: center;
    margin: 0;
}
h1 {
    font-family: 'VT323', bold;
    font-size: clamp(24px, 5vw, 48px);
    color: #6D9886;
    text-align: center;
    letter-spacing: 15px;
    margin-bottom: 15px;
    margin-top: 15px
}
form {
    display: flex;
    text-align: justify;
    flex-direction: column; 
    align-items: center;    
    gap: 20px;              
}

.inputs-container {
    display: flex;
    flex-direction: column; 
    gap: 10px;               
    text-align: justify;
    align-items: center;
    width: 100px;
}
.inputs-container label {
    text-align: left;
}
input {
    border-radius: 5px;
    border: 2px solid blue;
}
input:focus {
    outline: none;
    border-color: red;
}
#result:focus {
    outline: none;
    caret-color: transparent;
    border-color: #6D9886;
}
.buttons-container {
    text-align: justify;
    display: flex;
    gap: 10px;             
}
.button {
    display: inline-block;
    padding: 5px 10px;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    color: #6D9886;
    background-color: #212121;
    border: 1px green;
    border-radius: 4px;
    box-shadow: 0 7px #1b1b1b;
}
.button:hover {
    background-color: #3c3c3c;
    color:#6D9886;
}
.button:active {
    box-shadow: 0 5px #6D9886;
    transform: translateY(4px);
}


input {
    background-color: black;
    color: #6D9886;
    text-align: center;
    border: 1px solid #6D9886; 
    padding: 5px;
    font-family: 'Martian Mono', monospace;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.slider {
    accent-color: green;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}


.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}


.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
} 
::-moz-range-track {
            background: brown;
            height: 0.5rem;

        }
